/* 

* {
    background-color: white smoke; 
}

 type selectors: 

body {
    background-color: whitesmoke;
}

div {
    background-color: white;
}

ul {
    color: royalblue;
}

 class selectors: 

.container {
    border: 5px solid pink;
}

.links {
    border: 5px dotted blue
}

 ID selectors 

#directory {
    border: 5px solid green;
}

 grouping selector 

h1, li {
    color: navy;
}

 chaining selector

.container.links {
    background-color: white;
}

 descendant combinator 

.ancestor .child {
    border-radius: 10px;
}

*/

