
body {
    background-color: #C2C094;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background-color:#A9A587;
    padding: 25px;
    border-radius: 5px;
    font-family: "Patrick Hand", sans-serif;

}


h1 {
    background-color: #390040;  
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    font-family: "Patrick Hand", sans-serif;
}

.links {
    background-color: #730071;
    color: #DC9596;
    padding: 5px;
}

a:visited {
    color: rgb(168, 148, 148);
}


